@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
%downArrow::after {
  content: "";
  position: absolute;
  border: solid rgba(31, 32, 65, 0.5);
  padding: 3px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: 0px;
  top: 50%;
  margin: -5px -17px 0px 0px
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-400-normal.eot");
  src: local("☺"), url("../fonts/montserrat-400-normal.woff") format('woff'), url('../fonts/montserrat-400-normal.ttf') format('truetype'), url('../fonts/montserrat-400-normal.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-700-normal.eot');
  src: local('☺'), url('../fonts/montserrat-700-normal.woff') format('woff'), url('../fonts/montserrat-700-normal.ttf') format('truetype'), url('../fonts/montserrat-700-normal.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  font-family: "montserrat", sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(320px, 1160px) 1fr;
  grid-template-areas: ". content .";
}

.content {
  grid-area: content;
}

.header {
  display: grid;
  grid-template-rows: 70px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo navList authorization";
  background: #FFF;
  align-items: center;

  &__logo {
    grid-area: logo;
  }

  &__navList {
    margin-right: 5px;
  }

  &__items {
    grid-area: navList;
    display: grid;
    justify-self: end;
  }

  &__navLink {
    display: inline-block;
    position: relative;
    color: rgba(31, 32, 65, 0.5);
    margin-right: 17px;

    &:nth-child(2) {
      @extend %downArrow;
      margin-right: 40.5px;
    }

    &:nth-child(5) {
      @extend %downArrow;
      margin-right: 42px;
    }

    &_active {
      font-weight: bold;
      color: black;
    }
  }

  &__authorization {
    grid-area: authorization;
    justify-self: end;

    button {
      border-radius: 20px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.authorization {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 17px;

  &__registration-btn {
    background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
    color: #fff;
    padding: 9px 20px 10px 19.5px;
  }

  &__login-btn {
    background: #fff;
    color: #BC9CFF;
    margin-right: 5px;
    padding: 7px 0px 8px 0px;

    span {
      position: relative;
      border-radius: 20px;
      background: #fff;
      padding: 7px 19px 8px 17.5px;
      z-index: 1;
    }

    span::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
      border-radius: 20px;
      z-index: -1;
    }
  }

  &__authorizedUser {
    grid-column: 2;
    color: rgba(31, 32, 65, 0.5);
    position: relative;
    margin-left: 2px;

    &::before {
      content: "";
      position: absolute;
      padding-top: 30px;
      left: -22px;
      top: -0.5em;
      border: solid 1px rgba(31, 32, 65, 0.1);
    }
  }
}


.footer {
  &__footerUp{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(100px, 300px) repeat(3, auto) minmax(100px, 260px);
  margin-bottom: 100px;
  }
  h2{
    font-size: 12px;
    text-transform: uppercase;
    margin: 6px 0px 19px 0px;
    font-weight: 700;
  }
  a{
    color: rgba(31, 32, 65, 0.5);
  }
  p{
    color:rgba(31, 32, 65, 0.75);
    line-height: 24px;
  }
  &__logo {
    padding-right: 40px;
    img{
      margin-bottom: 17px;
    }
  }

  &__navItem {
  }

  &__subscription {
  }
}

.navItem{
  h2{
    margin-bottom: 25px;
  }
  &__list{
    display:grid;
    grid-gap:24px;
  }
}

.footerDown{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  align-items: center;
  position:relative;
  &::before {
    content: "";
    position: absolute;
    padding-right: 150%;
    left: -25%;
    top: 0px;
    border: solid 1px rgba(31, 32, 65, 0.1);
  }
  &__socialNetworkIcons{
    justify-self: end;
  }
  &__copyright{
color: rgba(31, 32, 65, 0.75);
  }
}

.socialNetworkIcons{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}







