include layouts/mixins
doctype html
html
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "initial-scale = 1.0, width = device - width")
        title Toxin
        body
            .wrapper
                .content
                    +header(false)
                    +header(true)
                    include layouts/includes/footer
                    include layouts/includes/input
                    .dropdown
                        input.dropdown__dropdownInput(type="text" value="Сколько гостей" readonly="readonly")
                        //include layouts/includes/input
                        button.dropdown__dropdownBtn
                        .dropdown__dropdownContent.dropdownContent
                            .dropdownContent__item.itemDropdownContent
                                p.itemDropdownContent__textfield_adult Взрослые
                                .itemDropdownContent__switcher.switcher
                                    button.switcher__btnMinus(disabled)
                                    span.switcher__value 0
                                    button.switcher__btnPlus
                            .dropdownContent__item.itemDropdownContent
                                p.itemDropdownContent__textfield_children Дети
                                .itemDropdownContent__switcher.switcher
                                    button.switcher__btnMinus(disabled)
                                    span.switcher__value 0
                                    button.switcher__btnPlus
                            .dropdownContent__item.itemDropdownContent
                                p.itemDropdownContent__textfield_toddlers Младенцы
                                .itemDropdownContent__switcher.switcher
                                    button.switcher__btnMinus(disabled)
                                    span.switcher__value 0
                                    button.switcher__btnPlus
                            button.dropdown__clear Очистить
                            button.dropdown__toApply Применить

        script
            include script.js