doctype html
html
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "initial-scale = 1.0, width = device - width")
        title Toxin
        div.wrapper
            div(class="content")
                header.header
                    img.header__logo(src = "./images/Logo.svg")
                    nav.header__items
                        ul.header__navList
                            li.header__navLink.header__navLink_active О нас
                            li.header__navLink Услуги
                            li.header__navLink Вакансии
                            li.header__navLink Новости
                            li.header__navLink Соглашения
                    div.header__authorization
                        button.authorization__login-btn
                            span Войти
                        button.authorization__registration-btn
                            span Зарегистрироваться
        body
